.title {
    z-index: 2;
    position: absolute;
    top: 40%;
    left: 50%;
    translate: -50% -60%;
    font-size: 7em;
    user-select: none;
}

.mask-1 {
    z-index: 1;
    mix-blend-mode: overlay;
    font-size: 7em;
    -webkit-mask:
        linear-gradient(#000 0 0),
        linear-gradient(#000 0 0);
    mask: 
        linear-gradient(#000 0 0),
        linear-gradient(#000 0 0);
    mask-clip: padding-box;
    -webkit-mask-clip: text, padding-box;
    mask-composite: intersect;
}

.mask-2 {
    z-index: 2;
    mix-blend-mode: difference;
}
